button {
  border: none;
  outline: none;
  box-shadow: unset;
  background: none;
  padding: 0;
}

.button {
  font-family: $font-medium;
  //font-size: 16px;
  position: relative;
  display: inline-block;
  text-align: center;
  @include ease-long;
  color: $white;
  padding: 18px 42px;

  &--square {
    padding: 2px;
    @include flex-center;
    width: 60px;
    height: 60px;
  }

  &-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    svg {
      @include ease;

      @include r($breakpoint-2) {
        height: 18px;
        width: auto;
      }
    }
  }

  &-primary {
    color: $white;
    background-color: $primary;

    &:hover {
      color: $white;
      background-color: $darkPrimary;
    }

    &.button-icon {
      svg {
        fill: $white;
      }

      &:hover {
        svg {
          color: $white;
        }
      }
    }
  }

  &-outlined {
    color: $primary;
    background-color: $tr;
    border: 1px solid $primary;

    &:hover {
      color: $white;
      background-color: $primary;
    }

    &.button-icon {
      svg {
        fill: $primary;
      }

      &:hover {
        svg {
          fill: $white;
        }
      }
    }
  }

  &-outlined-gray2 {
    color: $grayText2;
    background-color: $tr;
    border: 1px solid $grayText2;

    &:hover {
      color: $white;
      border-color: $primary;
      background-color: $primary;
    }

    &.button-icon {
      svg {
        fill: $grayText2;
      }

      &:hover {
        svg {
          fill: $white;
        }
      }
    }
  }

  &-secondary {
    color: $primary;
    background-color: $lightPrimary;

    &:hover {
      color: $white;
      background-color: $primary;
    }

    &.button-icon {
      svg {
        fill: $primary;
      }

      &:hover {
        svg {
          fill: $white;
        }
      }
    }
  }

  &-thirdary {
    color: $grayText3;
    background-color: #F7F7F9;

    &:hover {
      color: $primary;
    }
  }

  &-fourthary {
    color: $grayText2;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $primary;
    }

    &.button-icon {
      svg {
        fill: $grayText2;
      }

      &:hover {
        svg {
          fill: $white;
        }
      }
    }
  }

  &-green {
    color: $white;
    background-color: $green;

    &:hover {
      color: $white;
      background-color: #0B671A;
    }
  }

  &-orange {
    color: $white;
    background-color: $orange;

    &:hover {
      color: $white;
      background-color: #ba490a;
    }
  }

  &-mead {
    color: $white;
    background-color: #FFA800;

    &:hover {
      color: $white;
      background-color: $orange;
    }
  }

  &-dark {
    color: $white;
    background-color: $dark;

    &:hover {
      color: $white;
      background-color: #414448;
    }
  }

  &--lg {
    @include text2;
    padding: 16px 36px;

    &--square {
      width: 52px;
      height: 52px;
    }
  }

  &--md {
    @include text2;
    padding: 14px 34px;

    &--square {
      width: 52px;
      height: 52px;
    }
  }

  &--sm {
    @include text2;
    padding: 12px 24px;

    &--square {
      width: 46px;
      height: 46px;
    }
  }

  &--xs {
    @include text4;
    padding: 9px 14px;

    &--square {
      width: 35px;
      height: 35px;
    }
  }

  &--extra-small {
    @include text5;
    padding: 4px 10px;
  }
}

.link {
  font-family: $font-medium;
}

.link-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  svg {
    width: 24px;
    height: 24px;

    @include r($breakpoint-2) {
      height: 18px;
      width: 18px;
    }
  }
}

.link-blue {
  color: $primary;

  &:hover {
    color: $darkPrimary;
  }
}

.link-red {
  color: $red;
}


.link-white {
  color: $white;

  &:hover {
    color: $grayBorder1;
  }
}

.link-grayText1 {
  color: $grayText1;

  &:hover {
    color: $darkPrimary;
  }
}

.link-grayText2 {
  color: $grayText2;

  &:hover {
    color: $darkPrimary;
  }
}

.link-grayText3 {
  color: $grayText3;

  &:hover {
    color: $darkPrimary;
  }
}

.link-red-icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  @include r($breakpoint-3) {
    gap: 5px;
  }

  svg {
    fill: $red;
    width: 24px;
    height: 24px;
    @include ease;

    @include r($breakpoint-2) {
      height: 18px;
      width: 18px;
    }
  }

  &:hover {
    svg {
      fill: $darkPrimary;
    }
  }
}

.link-blue-icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  @include r($breakpoint-3) {
    gap: 5px;
  }

  svg {
    fill: $primary;
    width: 24px;
    height: 24px;
    @include ease;

    @include r($breakpoint-2) {
      height: 18px;
      width: 18px;
    }
  }

  &:hover {
    svg {
      fill: $darkPrimary;
    }
  }
}
.link-white-icon {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  @include r($breakpoint-3) {
    gap: 5px;
  }

  svg {
    fill: $white;
    width: 24px;
    height: 24px;
    @include ease;

    @include r($breakpoint-2) {
      height: 18px;
      width: 18px;
    }
  }

  &:hover {
    svg {
      fill: $grayBorder1;
    }
  }
}

.link-svg-fill-blue {
  svg {
    fill: $primary;
  }
}

.link-hover-blue-svg {
  svg {
    @include ease;
  }

  &:hover {
    svg {
      fill: $primary;
    }
  }
}

.link-hover-dark-svg {
  svg {
    @include ease;
  }

  &:hover {
    svg {
      fill: $dark;
    }
  }
}

.fill-svg-grayText1 {
  svg {
    @include ease;
    fill: $grayText1;
  }
}

.fill-svg-grayText3 {
  svg {
    @include ease;
    fill: $grayText3;
  }
}


.fill-svg-hover-blue {
  &:hover {
    svg {
      fill: $primary;
    }
  }
}

a,
button {
  &.link-grayText1 {
    color: $grayText1;

    &:hover {
      color: $primary;
    }
    &.und {
      text-decoration-color: $grayText1;
    }
  }
  &.link-grayText2 {
    color: $grayText2;

    &:hover {
      color: $primary;
    }
    &.und {
      text-decoration-color: $grayText2;
    }
  }
  &.link-grayText3 {
    color: $grayText3;

    &:hover {
      color: $primary;
    }
    &.und {
      text-decoration-color: $grayText3;
    }
  }
}

.button-download-prr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  border: 1px solid $grayBorder1;
  gap: 10px;

  &:hover {
    border-color: $primary;
  }

  @include r($breakpoint-2) {
    padding: 10px;
    gap: 5px;
  }
}

.leaf-py-40 {
  @include rmin($breakpoint-2) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.button-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid $grayBorder1;
  gap: 10px;

  &:hover {
    border-color: $primary;
  }

  @include r($breakpoint-2) {
    padding: 10px;
    gap: 5px;
  }
}

.button-download-gray {
  background-color: $grayBg;
  border-color: $tr;
}