<section class="section--inner">
    <div class="container">
        <div class="title-h3 font-bold spacing-1">Наши преимущества</div>
        <div class="row row-gap-20 row-gap-sm-none">
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#car"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Быстрая доставка по&nbsp;всей России</div>
                    </div>
                    <div class="color-grayText3 lh13">Продуманная логистика позволяет устанавливать цены намного ниже региональных</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#quality"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Высокое качество продукции</div>
                    </div>
                    <div class="color-grayText3 lh13">Мы осуществляем постоянный контроль качества на всех этапах производства</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#cart"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Огромный ассортимент</div>
                    </div>
                    <div class="color-grayText3 lh13">В нашем каталоге более 500 наименований строительных лесов и другого строительного оборудования</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#credit-card"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Удобная оплата</div>
                    </div>
                    <div class="color-grayText3 lh13">Вы можете оплатить заказ любым удобным способом: наличными, банковской картой  или по безналу</div>
                </div>
            </div>
        </div>
    </div>
</section>