<section class="section--inner">
    <div class="container">
        <div class="row row-gap-20 row-gap-sm-none">
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#car"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Доставка за 3 часа</div>
                    </div>
                    <div class="color-grayText3 lh13">Быстрая доставка по Москве и&nbsp;Московской области</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#quality"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Новое оборудование</div>
                    </div>
                    <div class="color-grayText3 lh13">Обновленный арендный фонд качественных лесов</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#sale"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Нашли дешевле?</div>
                    </div>
                    <div class="color-grayText3 lh13">Сделаем скидку от цены конкурента!</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#replay"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Вернем залог</div>
                    </div>
                    <div class="color-grayText3 lh13">По окончании срока аренды возвращаем залог в полном размере</div>
                </div>
            </div>
        </div>
    </div>
</section>