<section class="section--inner">
    <div class="container">
        <div class="row row-gap-20 row-gap-sm-none">
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#car"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Оперативный выезд</div>
                    </div>
                    <div class="color-grayText3 lh13">Организуем быстрый выезд на объект для оценки объема и расчёта стоимости</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#double-check"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Обслуживание под ключ</div>
                    </div>
                    <div class="color-grayText3 lh13">Кроме монтажа мы занимаемся и обслуживаением строительного оборудования</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#cabinet"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Допуск к работам на высоте</div>
                    </div>
                    <div class="color-grayText3 lh13">Наши специалисты имеют все необходимые допуски и лицензии</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 advantage-wrapper">
                <div class="advantage">
                    <div class="advantage-header spacing-5">
                        <svg>
                            <use xlink:href="#flag"></use>
                        </svg>
                        <div class="title-h6 font-bold lh13">Опыт более 10 лет</div>
                    </div>
                    <div class="color-grayText3 lh13">Знаем о строительном оборудовании всё! Проконсультируем и подберем лучшее решение для вас</div>
                </div>
            </div>
        </div>
    </div>
</section>