<section class="section--inner section-no-padding-md">
    <div class="container">
        <div class="bottom-nav">
            <div class="bottom-nav__col">
                <div class="bottom-nav__header">
                    <span>Строительные леса</span>
                    <svg width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>
                <div class="bottom-nav__content">
                    <div class="bottom-nav__list">
                        <a class="bottom-nav__link" href="#">Рамные леса</a>
                        <a class="bottom-nav__link" href="#">Хомутовые леса</a>
                        <a class="bottom-nav__link" href="#">Клиновые леса</a>
                        <a class="bottom-nav__link" href="#">Штыревые леса</a>
                        <a class="bottom-nav__link" href="#">Оцинкованные леса</a>
                        <a class="bottom-nav__link" href="#">Чашечные леса</a>
                    </div>
                </div>
            </div>
            <div class="bottom-nav__col">
                <div class="bottom-nav__header">
                    <span>Опалубка перекрытий</span>
                    <svg width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>

                <div class="bottom-nav__content">
                    <div class="bottom-nav__list">
                        <a class="bottom-nav__link" href="#">Опалубка перекрытий</a>
                        <a class="bottom-nav__link" href="#">Рамная опалубка</a>
                        <a class="bottom-nav__link" href="#">Чашечная опалубка Cup lock</a>
                        <a class="bottom-nav__link" href="#">Клиновидная опалубка Дирс</a>
                        <a class="bottom-nav__link" href="#">Опалубка ХСИ</a>
                        <a class="bottom-nav__link" href="#">Телескопическая опалубка</a>
                        <a class="bottom-nav__link" href="#">Оцинкованная опалубка</a>
                    </div>
                </div>
            </div>
            <div class="bottom-nav__col">
                <div class="bottom-nav__header">
                    <span>Вышка тура</span>
                    <svg width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>

                <div class="bottom-nav__content">
                    <div class="bottom-nav__list">
                        <a class="bottom-nav__link" href="#">Вышки тура ВСР</a>
                        <a class="bottom-nav__link" href="#">Вышка тура Эконом</a>
                        <a class="bottom-nav__link" href="#">Вышки тура ВСП</a>
                        <a class="bottom-nav__link" href="#">Алюминиевая вышка тура</a>
                        <a class="bottom-nav__link" href="#">Вышка клиновая ВТК</a>
                        <a class="bottom-nav__link" href="#">Вышки тура Ортус</a>
                    </div>
                </div>
            </div>
            <div class="bottom-nav__col">
                <div class="bottom-nav__header">
                    <span>Лестницы</span>
                    <svg width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>

                <div class="bottom-nav__content">
                    <div class="bottom-nav__list">
                        <a class="bottom-nav__link" href="#">Односекционные</a>
                        <a class="bottom-nav__link" href="#">Двухсекционные</a>
                        <a class="bottom-nav__link" href="#">Трёхсекционные</a>
                        <a class="bottom-nav__link" href="#">Трансформер</a>
                        <a class="bottom-nav__link" href="#">Деэлектрические</a>
                        <a class="bottom-nav__link" href="#">С канатной тягой</a>
                    </div>
                </div>
            </div>
            <div class="bottom-nav__col">
                <div class="bottom-nav__header">
                    <span>Стремянки</span>
                    <svg width="24" height="24">
                        <use xlink:href="#chevron-bottom"></use>
                    </svg>
                </div>

                <div class="bottom-nav__content">
                    <div class="bottom-nav__list">
                        <a class="bottom-nav__link" href="#">Односторонние</a>
                        <a class="bottom-nav__link" href="#">Двусторонние</a>
                        <a class="bottom-nav__link" href="#">С широкими ступенями</a>
                        <a class="bottom-nav__link" href="#">Передвижные</a>
                        <a class="bottom-nav__link" href="#">Стремянка-помост</a>
                        <a class="bottom-nav__link" href="#">Деэлектрические</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>