<section class="section--inner">
    <div class="container">
        <div class="banner leaf">
            <div class="banner__in">
                <div class="title-h4 font-bold spacing-4">Ежегодный фестиваль мёда</div>
                <div class="text spacing-3">Мы приглашаем каждого желающего на нашу пасеку и медовый фестиваль</div>

                <button class="button button-mead">Стать участником</button>
            </div>
            <img class="banner-picture" src="{{root}}assets/img/banner-bg.jpg" alt="Ежегодный фестиваль мёда">
        </div>
    </div>
</section>