<div class="card-top spacing-2">
    <div class="card-top__actions">
        <button class="link card-top__link js-card-toggle-favorites">
            <svg width="24" height="24">
                <use xlink:href="#heart"></use>
            </svg>
            <span class="font-regular">В избранное</span>
        </button>
        <button class="link card-top__link js-card-toggle-compare">
            <svg width="24" height="24">
                <use xlink:href="#stat"></use>
            </svg>
            <span class="font-regular">Сравнить</span>
        </button>

        <button class="link card-top__link">
            <svg width="24" height="24">
                <use xlink:href="#share"></use>
            </svg>
            <span class="font-regular">Поделиться</span>
        </button>

        <button class="card-top__rating js-button-anchor" data-to="#reviews">

            {{> rating }}

            <span class="font-medium color-grayText3">25 отзывов</span>
        </button>

        <div>Гарантия 1 год</div>
    </div>
    <div class="color-grayText3">
        <span>Артикул&nbsp;</span>
        <span>126424</span>
    </div>
</div>
