<section class="section--inner pt-0">
    <div class="container">
        <div class="category-layout">
            <div class="category-layout__filter">
                <button class="filter-toggle__button button button-primary w-xs-100 js-toggle-filter-modal">
                    Показать фильты
                </button>

                {{> filter }}

                <div id="filter" style="display: none" class="filter-popup">
                    <div class="title-h3 font-bold spacing-3">Фильтры</div>
                </div>
            </div>
            <div class="category-layout__cards">
                <div class="w-100 d-flex justify-content-between align-items-md-center align-items-start flex-column flex-md-row gap-15 spacing-1">
                    <div class="category-sort">
                        <label class="category-sort__radio">
                            <input type="radio" name="sort" checked>
                            <span>По популярности</span>
                        </label>
                        <label class="category-sort__radio">
                            <input type="radio" name="sort">
                            <span>По рейтингу</span>
                        </label>
                        <label class="category-sort__radio">
                            <input type="radio" name="sort">
                            <span>По цене</span>
                        </label>
                    </div>

                    <div class="category-select d-flex align-items-center gap-10">
                        <span>Показывать по</span>
                        <select class="js-select-auto-width">
                            <option>24</option>
                            <option>36</option>
                            <option>48</option>
                        </select>
                    </div>
                </div>

                <div class="row row-gap-30 row-gap-xs-20">
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-out-of-stock }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-sale }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-out-of-stock }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-sale }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-out-of-stock }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item-sale }}

                    </div>
                    <div class="col-md-3 col-sm-4 col-6">

                        {{> item }}

                    </div>
                </div>

                {{> pagination }}

            </div>

        </div>
    </div>
</section>