<section class="section--inner ovh">
    <div class="container">
        <div class="title-h3 font-bold spacing-3">Сертификаты и протоколы испытания</div>
        <div class="text color-grayText3 lh14 spacing-1">Наша квалификация подтверждена документами, мы имеем все необходимые сертификаты и лицензии</div>
        <div class="slider-wrapper">
            <div class="slider js-certs-slider scrolled-slider-wrapper-md">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/1.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/1.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/2.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/2.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/3.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/3.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/1.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/1.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/2.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/2.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/3.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/3.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/1.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/1.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/2.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/2.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="certs-wrapper">
                            <img src="{{root}}assets/img/cert/3.jpg"
                                 data-fancybox="certs"
                                 data-src="{{root}}assets/img/cert/3.jpg"
                                 alt="Сертификат"
                            >
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-nav swiper-nav">
                <button class="js-certs-slider-prev">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-left"></use>
                    </svg>
                </button>
                <button class="js-certs-slider-next">
                    <svg width="34" height="34">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>