<div class="d-flex flex-column gap-lg-40 gap-20 w-100">
    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Выбор ТК</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Есть ли возможность отправить груз транспортной компанией которой нет в списке?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>
    </div>
    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Расчет стоимости и объема</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Как самостоятельно предварительно рассчитать стоимость грузоперевозки?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Как рассчитывается объем груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">В какой срок транспортная компания сможет доставить мой груз?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Упаковка груза</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Производит ли Ваша компания упаковку груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие требования предъявляет транспортная компания к упаковке груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие виды дополнительной упаковки можно заказать в транспортной компании для перевозки груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Страховка/Груз поврежден</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Есть ли возможность застраховать груз?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Предоставляет ли транспортная компания какие-либо гарантии по сохранности груза, кроме экспедиторской расписки?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Если товар поступил с повреждением, какие мои действия?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какова вероятность того, что мой груз потеряется или будет поврежден во время грузоперевозки?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Оплата грузоперевозки</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Можно ли оплатить товар при получении заказа на терминале своего города?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Есть ли возможность оплатить услуги грузоперевозки транспортной компанией в безналичной форме расчета.</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Форма оплаты за услуги грузоперевозки транспортной компанией?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Есть ли скидки на услуги грузоперевозок транспортной компанией?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Могу я забрать груз в транспортной компании, а оплатить позже?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Информирование о статусе грузоперевозки</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Как я могу узнать, пришел ли мой груз?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Я хочу узнать, когда был отправлен мой груз? Сколько он в пути?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Получение груза</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Я получил товар в транспортной компании, но мне он не подходит, могу ли отказаться и вернуть деньги?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Возможна ли адресная доставка груза транспортной компанией до дверей получателя?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Может ли ваша компания отправить груз в город, где нет вашего представительства?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Документы при отправке/получении</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие документы обязан предоставить грузоотправитель для перевозки груза по территории России?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие документы нужны для получения груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие документы выдает ваша компания при сдаче грузов для перевозки?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Какие документы нужно предъявить для получения груза? Могу я получить груз по водительскому удостоверению?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>
    </div>

    <div class="d-flex flex-column align-items-start w-100">
        <div class="title-h5 font-bold spacing-5">Ошибки (исправления)</div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Я допустил ошибку при заказе доставки транспортной компанией. Что делать?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">По ошибке случайно направили груз в другой город. Как можно его вернуть?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>

        <div class="question-item question-item-common w-100">
            <div class="question-item__top question-item-common__top js-question-toggle">
                <span class="text font-medium">Можно ли исправить наименование получателя груза?</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-bottom"></use>
                </svg>
            </div>
            <div class="question-item__info lh14">
                Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
            </div>
        </div>
    </div>

</div>