<section class="section--inner">
    <div class="container">
        <div class="font-bold title-h3 spacing-1">Комплектующие для строительных лесов</div>

        <div class="row row-gap-20">
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/1.jpg" alt="Для чашечных лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для чашечных лесов</div>
                        <div>от 108 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/2.jpg" alt="Для рамных лесов Professional">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для рамных лесов Professional</div>
                        <div>от 308 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/3.jpg" alt="Для хомутовых лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для хомутовых лесов</div>
                        <div>от 129 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/4.jpg" alt="Для штыревых лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для штыревых лесов</div>
                        <div>от 129 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/5.jpg" alt="Готовые комлекты">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Готовые комлекты</div>
                        <div>от 3 965 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/6.jpg" alt="Для рамных лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для рамных лесов</div>
                        <div>от 308 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/7.jpg" alt="Для клиновых лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для клиновых лесов</div>
                        <div>от 129 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 col-sm-4">
                <div class="complect">
                    <img src="{{root}}assets/img/complect/8.jpg" alt="Для оцинкованных лесов">
                    <div class="complect-info">
                        <div class="font-medium spacing-5 text">Для оцинкованных лесов</div>
                        <div>от 129 р</div>
                    </div>
                    <a href="#" class="button button-primary button-icon button--square button--xs--square">
                        <svg width="20" height="20">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>