<div class="slider-wrapper scrolled-slider-wrapper slider-wrapper-cards">
    <div class="slider slider-cards js-complects-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">

                {{> item }}

            </div>
            <div class="swiper-slide">

                {{> item }}

            </div>
            <div class="swiper-slide">

                {{> item-sale }}

            </div>
            <div class="swiper-slide">

                {{> item }}

            </div>
            <div class="swiper-slide">

                {{> item }}

            </div>
            <div class="swiper-slide">

                {{> item-sale }}

            </div>
        </div>
    </div>

    <div class="slider-nav swiper-nav">
        <button class="js-complects-slider-prev">
            <svg width="34" height="34">
                <use xlink:href="#chevron-left"></use>
            </svg>
        </button>
        <button class="js-complects-slider-next">
            <svg width="34" height="34">
                <use xlink:href="#chevron-right"></use>
            </svg>
        </button>
    </div>
</div>