<section class="section--inner">
    <div class="container">
        <div class="feed feed-2" style="background-image: url({{root}}assets/img/feed-2-bg.jpg);">

            <div class="row align-items-lg-center">
                <div class="col-lg-8">
                    <div class="feed__in">
                        <div class="title-h3 spacing-5 font-bold">Нужен расчёт аренды лесов с&nbsp;визуализацией?</div>
                        <div class="feed-form__text text lh14 spacing-3">Наши менеджеры помогут вам рассчитать необходимый объем и вид лесов,
                            <br class="d-none d-lg-inline"> наш инженер-конструктор сделает бесплатный эскиз лесов</div>

                        <div class="d-flex align-items-lg-center flex-column gap-lg-40 row-gap-10 flex-lg-row align-items-center">
                            <button class="button button-primary w-xs-100">Получить расчёт</button>
                            <button class="link-icon link-white link-white-icon w-xs-100">
                                <svg>
                                    <use xlink:href="#arrow-bottom"></use>
                                </svg>
                                <span>Файл-заявка для расчета</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none d-lg-block">
                    <div class="feed-3-picture__wrapper">
                        <img class="feed-3-picture img-responsive" src="{{root}}assets/img/feed-3-picture.png" alt="Нужен расчёт аренды лесов с визуализацией?">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>