<section class="section--inner">
    <div class="container">
        <div class="feed feed-2" style="background-image: url({{root}}assets/img/feed-2-bg.jpg);">
            <form class="feed__in">
                <div class="title-h3 spacing-5 font-bold">Заказать проект производства работ</div>
                <div class="feed-form__text text lh13 spacing-3">Вы можете сразу прикрепить нам фасады и планы здания (формыты DWG или PDF)</div>

                <div class="feed-form spacing-3 flex-wrap flex-lg-nowrap">
                    <label class="form-field">
                        <span class="form-field__label">Номер телефона</span>
                        <input type="tel" class="form-field__input js-tel" placeholder="+7 956 123-45-88">
                    </label>
                    <label class="form-field">
                        <span class="form-field__label">Электронная почта</span>
                        <input type="email" class="form-field__input" placeholder="email@example.com">
                    </label>

                    <button class="button button-primary button--lg button-icon w-xs-100">
                        <span>Отправить</span>

                        <svg width="24" height="24">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>

                    <div class="text5 align-self-sm-center">Заполняя форму вы соглашаетесь <br class="d-none d-lg-inline"> на <a href="#" class="und feed-link">обработку персональных данных</a></div>
                </div>


                <label class="link-white link-white-icon link-icon ease d-flex align-items-center gap-10 curp">
                    <svg width="20" height="20">
                        <use xlink:href="#pin"></use>
                    </svg>
                    <input class="file-input js-file-input js-file-input-order" type="file">
                    <span class="file-list">Прикрепить файл</span>
                </label>


            </form>
        </div>
    </div>
</section>