<section class="section--inner">
    <div class="container">
        <div class="feed feed-2" style="background-image: url({{root}}assets/img/feed-2-bg.jpg);">
            <img class="feed-2-picture" src="{{root}}assets/img/feed-2-picture.png" alt="Леса">
            <div class="row">
                <div class="col-lg-7">
                    <div class="feed__in">
                        <div class="title-h3 spacing-5 font-bold">Оставьте заявку и мы свяжемся с&nbsp;вами</div>
                        <div class="feed-form__text text lh13 spacing-3">Наш менеджер сделает расчёт стоимости и комплектности лесов конкретно под ваши задачи и ответит на любые вопросы</div>

                        <form class="feed-form spacing-4">
                            <label class="form-field">
                                <span class="form-field__label">Номер телефона</span>
                                <input type="tel" class="form-field__input js-tel" placeholder="+7 956 123-45-88">
                            </label>

                            <button class="button button-primary button--lg button-icon w-xs-100">
                                <span>Отправить</span>

                                <svg width="24" height="24">
                                    <use xlink:href="#chevron-right"></use>
                                </svg>
                            </button>
                        </form>

                        <div class="text5">Заполняя форму вы соглашаетесь на <a href="#" class="und feed-link">обработку персональных данных</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>