<div class="filter-wrapper">
    <form class="filter">
        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Категория</div>
            </div>
            <div class="filter-item__content">
                <label class="form-input__wrapper">
                    <svg width="24" height="24" fill="#ADB3BE">
                        <use xlink:href="#search"></use>
                    </svg>
                    <input type="text" class="form-input w-100" placeholder="Поиск значений" />
                </label>
                <div class="filter-list">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Желоб водосточный</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Воронка желоба</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Канадка водосточная</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Кронштейн желоба</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Труба водосточная</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                        <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Колено сливное</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                        <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>Колено трубы</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Цена, руб</div>
            </div>
            <div class="filter-item__content">

                {{> range-slider }}

            </div>
        </div>
        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Наличие</div>
            </div>
            <div class="filter-item__content">
                <label class="radio">
                    <input type="radio" name="stock" checked>
                    <span class="radio__text">
                        <span>В наличии</span>
                    </span>
                </label>
                <label class="radio">
                    <input type="radio" name="stock">
                    <span class="radio__text">
                        <span>Под заказ</span>
                    </span>
                </label>
            </div>
        </div>

        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Диаметр трубы</div>
            </div>
            <div class="filter-item__content">
                <label class="form-input__wrapper">
                    <svg width="24" height="24" fill="#ADB3BE">
                        <use xlink:href="#search"></use>
                    </svg>
                    <input type="text" class="form-input w-100" placeholder="Поиск значений" />
                </label>
                <div class="filter-list">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>130</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>140</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>150</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>160</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>170</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>180</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>190</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>130</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>140</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>150</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>160</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>170</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>180</span>
                        </span>
                    </label>
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__text">
                            <svg width="24" height="24">
                                <use xlink:href="#check"></use>
                            </svg>
                            <span>190</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Тип материала</div>
            </div>
            <div class="filter-item__content">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">
                        <svg width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg>
                        <span>Оцинкованный</span>
                    </span>
                </label>
                <label class="checkbox">
                    <input type="checkbox" checked>
                    <span class="checkbox__text">
                        <svg width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg>
                        <span>Оцинкованный RAL</span>
                    </span>
                </label>
            </div>
        </div>
        <div class="filter-item">
            <div class="filter-item__top">
                <div class="text font-bold">Популярные подборки</div>
            </div>
            <div class="filter-item__content">
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Настил для рамных лесов</span>
                </label>
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Хомутовые леса ЛХ</span>
                </label>
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Клиновые леса ЛКС</span>
                </label>
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Штыревые леса ЛШ</span>
                </label>
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Оцинкованные леса</span>
                </label>
                <label class="filter-item__category">
                    <input type="checkbox">
                    <span>Леса от 150 до 300 м2</span>
                </label>
            </div>
        </div>
        <div class="d-flex flex-column w-100 gap-15">
            <button type="submit" class="button button-primary button--md w-100">Применить фильтр</button>
            <button type="reset" class="button button-thirdary button--md w-100">Сбросить все</button>
        </div>
        <div class="filter-person">
            <img src="{{root}}assets/img/team/1.jpg" alt="Калинина Ольга">
            <div class="text font-bold">Калинина Ольга</div>
            <div class="text4">Менеджер по продажам</div>
            <a class="link-blue" href="mailto:office@ooodirs.ru">office@ooodirs.ru</a>
            <a href="tel:8 (495) 189-71-28" class="text font-medium">8 (495) 189-71-28</a>
        </div>
    </form>
</div>