<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="d-flex flex-column align-items-lg-start align-items-center gap-25 w-100">
                    <a href="#" class="footer-logo">
                        {{> logo }}
                    </a>

                    <div class="d-flex flex-column align-items-start gap-10 gap-xs-5">
                        <a class="text font-bold" href="tel:8 (800) 775-03-29">8 (800) 775-03-29</a>
                        <button class="link-blue font-medium" data-src="#popup-call" data-fancybox>Заказать звонок</button>
                    </div>

                    <a class="text" href="mailto:info17@ooodirs.ru">info17@ooodirs.ru</a>

                    <div>
                        <div class="spacing-5"><span class="font-medium">Пн - Пт</span>  8:00 - 21:00</div>
                        <div><span class="font-medium">Суббота</span>  9:00 - 16:00</div>
                    </div>

                    <div class="d-flex align-items-center gap-10">
                        <svg width="20" height="20" fill="#626D7D">
                            <use xlink:href="#geo"></use>
                        </svg>
                        <span class="text d-inline-block mt-lg-1">Подольск, Бронницкая, 5</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 d-none d-lg-block">
                <div class="text d-flex flex-column gap-20">
                    <a href="#">Контакты</a>
                    <a href="#">Новости</a>
                    <a href="#">Статьи</a>
                    <a href="#">Помощь</a>
                    <a href="#">Оплата</a>
                    <a href="#">Возврат товара</a>
                </div>
            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <div class="text d-flex flex-column gap-20">
                    <a href="#">О компании</a>
                    <a href="#">Отзывы</a>
                    <a href="#">Дилерам</a>
                    <a href="#">Онлайн-оплата</a>
                    <a href="#">Доставка по Москве и МО</a>
                    <a href="#">Доставка в регионы</a>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="text-md-center d-flex flex-column justify-content-between align-items-center align-items-lg-end gap-20 text h-100">
                    <div class="d-flex flex-column align-items-center align-items-lg-start gap-15">
                        <div>2007-2022 © ООО «Дирс Строй»</div>
                        <a href="#">Политика конфиденциальности</a>
                        <a href="#">Обработка персональных данных</a>
                    </div>

                    <div class="d-flex flex-column align-items-center align-items-lg-start gap-10">
                        <div>Разработка и продвижение сайта</div>
                        <a href="#" target="_blank" class="link-blue">Ozhgibesov Agency</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>