<div class="row row-gap-20">
    <div class="col-sm-6">
        <div class="framing-type leaf">
            <div class="framing-type__picture">
                <img src="{{root}}assets/img/complect/1.jpg" alt="Рамные леса (ЛРСП)">
            </div>
            <div class="framing-type__info">
                <div class="title-h5 font-medium spacing-4">Рамные леса (ЛРСП)</div>

                <div class="common-table gap-10 spacing-4">
                    <div class="common-table__row">
                        <div>
                            <span>Max высота, м</span>
                        </div>
                        <div class="color-dark">100</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Max нагрузка, кг/м²</span>
                        </div>
                        <div class="color-dark">200</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Кратность по длине, м</span>
                        </div>
                        <div class="color-dark">3</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Шаг яруса по высоте, м</span>
                        </div>
                        <div class="color-dark">2</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Глубина яруса, м</span>
                        </div>
                        <div class="color-dark">1</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Материал</span>
                        </div>
                        <div class="color-dark">сталь</div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap gap-20 row-gap-xs-10 spacing-3">
                    <div class="title-h5 font-bold">от 1,2 р/м²</div>
                    <div class="text">от 7 дней</div>
                </div>

                <button class="button button-outlined w-xs-100">Заказать расчёт</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="framing-type leaf">
            <div class="framing-type__picture">
                <img src="{{root}}assets/img/complect/2.jpg" alt="Хомутовые леса (ЛХ)">
            </div>
            <div class="framing-type__info">
                <div class="title-h5 font-medium spacing-4">Хомутовые леса (ЛХ)</div>

                <div class="common-table gap-10 spacing-4">
                    <div class="common-table__row">
                        <div>
                            <span>Max высота, м</span>
                        </div>
                        <div class="color-dark">100</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Max нагрузка, кг/м²</span>
                        </div>
                        <div class="color-dark">200</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Кратность по длине, м</span>
                        </div>
                        <div class="color-dark">3</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Шаг яруса по высоте, м</span>
                        </div>
                        <div class="color-dark">2</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Глубина яруса, м</span>
                        </div>
                        <div class="color-dark">1</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Материал</span>
                        </div>
                        <div class="color-dark">сталь</div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap gap-20 row-gap-xs-10 spacing-3">
                    <div class="title-h5 font-bold">от 3,2 р/м²</div>
                    <div class="text">от 30 дней</div>
                </div>

                <button class="button button-outlined w-xs-100">Заказать расчёт</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="framing-type leaf">
            <div class="framing-type__picture">
                <img src="{{root}}assets/img/complect/3.jpg" alt="Клиновые леса (ЛСК)">
            </div>
            <div class="framing-type__info">
                <div class="title-h5 font-medium spacing-4">Клиновые леса (ЛСК)</div>

                <div class="common-table gap-10 spacing-4">
                    <div class="common-table__row">
                        <div>
                            <span>Max высота, м</span>
                        </div>
                        <div class="color-dark">100</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Max нагрузка, кг/м²</span>
                        </div>
                        <div class="color-dark">200</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Кратность по длине, м</span>
                        </div>
                        <div class="color-dark">3</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Шаг яруса по высоте, м</span>
                        </div>
                        <div class="color-dark">2</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Глубина яруса, м</span>
                        </div>
                        <div class="color-dark">1</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Материал</span>
                        </div>
                        <div class="color-dark">сталь</div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap gap-20 row-gap-xs-10 spacing-3">
                    <div class="title-h5 font-bold">от 5,7 р/м²</div>
                    <div class="text">от 30 дней</div>
                </div>

                <button class="button button-outlined w-xs-100">Заказать расчёт</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="framing-type leaf">
            <div class="framing-type__picture">
                <img src="{{root}}assets/img/complect/4.jpg" alt="Штыревые леса (ЛШ)">
            </div>
            <div class="framing-type__info">
                <div class="title-h5 font-medium spacing-4">Штыревые леса (ЛШ)</div>

                <div class="common-table gap-10 spacing-4">
                    <div class="common-table__row">
                        <div>
                            <span>Max высота, м</span>
                        </div>
                        <div class="color-dark">100</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Max нагрузка, кг/м²</span>
                        </div>
                        <div class="color-dark">200</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Кратность по длине, м</span>
                        </div>
                        <div class="color-dark">3</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Шаг яруса по высоте, м</span>
                        </div>
                        <div class="color-dark">2</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Глубина яруса, м</span>
                        </div>
                        <div class="color-dark">1</div>
                    </div>
                    <div class="common-table__row">
                        <div>
                            <span>Материал</span>
                        </div>
                        <div class="color-dark">сталь</div>
                    </div>
                </div>

                <div class="d-flex align-items-center flex-wrap gap-20 row-gap-xs-10 spacing-3">
                    <div class="title-h5 font-bold">от 5,8 р/м²</div>
                    <div class="text">от 90 дней</div>
                </div>

                <button class="button button-outlined w-xs-100">Заказать расчёт</button>
            </div>
        </div>
    </div>
</div>