<div class="item">
    <div class="item-picture__wrapper">
        <img src="{{root}}assets/img/item.jpg" alt="Товар">
    </div>

    <div class="item-content">
        <div class="item-price">
            <div class="title-h4 font-bold">3 030 р</div>
            <div class="text color-orange item-sale">-12%</div>
            <div class="text color-grayText1 tdlt">3 430 р</div>
        </div>

        <div class="item-rating__wrapper">
            <div class="item-rating">

                {{> rating }}

                <div class="color-grayText3">21</div>
            </div>

            <div class="item-status font-medium color-green">В наличии</div>
        </div>

        <a href="#" class="lh13 item__title">Алюмет (Alumet) металлическая стремянка односторонняя</a>

        <div class="item-additional">
            <div class="item-additional__in">
                <div class="d-flex align-items-center gap-10 gap-xs-5">
                    <svg width="24" height="24" fill="#242328">
                        <use xlink:href="#car"></use>
                    </svg>

                    <div>Самовывоз 1-2 дня</div>
                </div>

                <div class="item-info color-grayText3">
                    <div class="item-info__row">
                        <div>Высота рабочей площадки, м</div>
                        <div>0,44</div>
                    </div>
                    <div class="item-info__row">
                        <div>Количество ступеней, шт</div>
                        <div>2</div>
                    </div>
                    <div class="item-info__row">
                        <div>Максимальная нагрузка, кг</div>
                        <div>150</div>
                    </div>
                </div>

                <div class="item-controls">
                    <button class="button button-primary button-icon button--md">
                        <svg width="24" height="24">
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>В корзину</span>
                    </button>

                    <div class="item-actions">

                        {{> item-fav }}

                        <button class="button--square button--xs--square fill-svg-grayText3 fill-svg-hover-blue">
                            <svg width="24" height="24">
                                <use xlink:href="#stat"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="item-sub">
                    <button class="link-blue">Купить в 1 клик</button>
                    <div class="color-grayText3">Артикул: 04187</div>
                </div>
            </div>
        </div>
    </div>

</div>