<section class="section--inner bg-gray">
    <div class="container">
        <div class="row row-gap-20">
            <div class="col-lg-4">
                <div class="title-h3 font-bold spacing-4">Нужны леса <br class="d-none d-lg-inline"> на объект под ключ?</div>
                <div class="text spacing-2">Бесплатный выезд специалиста, КП <br class="d-none d-lg-inline"> в&nbsp;день обращения!</div>

                <button class="button w-xs-100 button-primary">Получить комплекс услуг</button>
            </div>

            <div class="col-lg-8">
                <div class="row row-gap-20">
                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Разработка ППР</div>
                            <div class="color-grayText3 lh13">Для более детального просчёта строительных лесов. Бесплатно при покупке комплекта лесов</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Изготовление лесов</div>
                            <div class="color-grayText3 lh13">Изготовим любой объем строительных лесов с хорошей скидкой!</div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Изготовление консолей</div>
                            <div class="color-grayText3 lh13">Нужны для крепления рабочего настила строительных лесов к щитовой опалубке</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Монтаж и демонтаж лесов</div>
                            <div class="color-grayText3 lh13">Аккуратно демонтируем старые леса и возведём новые со скоростью до 800 м² в день</div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Сетка тент + принт</div>
                            <div class="color-grayText3 lh13">Разработаем дизайн принта, напечатаем его на полотне и доставим на ваш объект</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="leaf bg-white h-100">
                            <div class="font-medium text spacing-5">Обслуживание и осмотр лесов</div>
                            <div class="color-grayText3 lh13">Проверка прочности и перенос креплений, проверка горизонтального уровня конструкции</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>