<div class="manager spacing-2">
    <div class="d-flex gap-15 align-items-center">
        <img src="{{root}}assets/img/team/1.jpg" alt="">
        <div class="d-flex flex-column align-items-start">
            <div class="color-grayText3 spacing-5">Ваш персональный менеджер</div>
            <div class="font-bold text">Калинина Ольга</div>
        </div>
    </div>

    <div class="manager-info d-flex flex-column align-items-start gap-5">
        <a href="tel:8 (495) 189-71-28" class="font-bold text">8 (495) 189-71-28</a>
        <div class="color-grayText2">Звоните с 09:00 до 18:00</div>
    </div>

    <div class="manager-info d-flex flex-column align-items-start gap-5">
        <a href="mailto:office@ooodirs.ru" class="font-medium text">office@ooodirs.ru</a>
        <button class="link-blue justify-content-start tal">Отправить письмо</button>
    </div>


    <a href="#" class="ws-button">
        <svg width="20" height="20">
            <use xlink:href="#phone-circle"></use>
        </svg>
        <span class="font-medium">Написать в Whatsapp</span>
    </a>

</div>