<section class="section--inner ovh">
    <div class="container">
        <div class="d-flex flex-column align-items-start flex-sm-row justify-content-sm-between align-items-sm-center gap-15 gap-xs-10 spacing-1">
            <div class="title-h3 font-bold">Новости и статьи</div>

            <a href="#" class="link link-icon link-blue link-blue-icon d-none d-md-inline-flex">
                <span>Все статьи</span>
                <svg width="24" height="24">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
        <div class="slider js-blog-slider scrolled-slider-wrapper-md">
            <div class="swiper-wrapper row">
                <div class="swiper-slide col-lg-3">

                    {{> blog-item }}

                </div>
                <div class="swiper-slide col-lg-3">

                    {{> blog-item }}

                </div>
                <div class="swiper-slide col-lg-3">

                    {{> blog-item }}

                </div>
                <div class="swiper-slide col-lg-3">

                    {{> blog-item }}

                </div>
            </div>
        </div>
    </div>
</section>