<div class="slider-wrapper">
    <div class="slider js-profi-slider scrolled-slider-wrapper-md">
        <div class="swiper-wrapper row">
            <div class="swiper-slide col-lg-3">
                <div class="person">
                    <div class="person-picture spacing-3">
                        <img src="{{root}}assets/img/team/1.jpg" alt="Калинина Ольга">
                    </div>
                    <div class="d-flex flex-column align-items-start gap-10 gap-xs-5">
                        <div class="text font-bold">Калинина Ольга</div>
                        <div>Руководитель отдела продаж</div>
                        <a class="font-bold text" href="tel:8 (495) 189-71-28">8 (495) 189-71-28</a>
                        <a class="link-blue" href="mailto:office@ooodirs.ru">office@ooodirs.ru</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-lg-3">
                <div class="person">
                    <div class="person-picture spacing-3">
                        <img src="{{root}}assets/img/team/2.jpg" alt="Чмель Елена">
                    </div>
                    <div class="d-flex flex-column align-items-start gap-10 gap-xs-5">
                        <div class="text font-bold">Чмель Елена</div>
                        <div>Ведущий менеджер отдела продаж</div>
                        <a class="font-bold text" href="tel:8 (495) 189-71-28">8 (495) 189-71-28</a>
                        <a class="link-blue" href="mailto:office@ooodirs.ru">office@ooodirs.ru</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-lg-3">
                <div class="person">
                    <div class="person-picture spacing-3">
                        <img src="{{root}}assets/img/team/3.jpg" alt="Архиреева Анастасия">
                    </div>
                    <div class="d-flex flex-column align-items-start gap-10 gap-xs-5">
                        <div class="text font-bold">Архиреева Анастасия</div>
                        <div>Ведущий менеджер отдела продаж</div>
                        <a class="font-bold text" href="tel:8 (495) 189-71-28">8 (495) 189-71-28</a>
                        <a class="link-blue" href="mailto:office@ooodirs.ru">office@ooodirs.ru</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-lg-3">
                <div class="person">
                    <div class="person-picture spacing-3">
                        <img src="{{root}}assets/img/team/4.jpg" alt="Гросуль Юрий">
                    </div>
                    <div class="d-flex flex-column align-items-start gap-10 gap-xs-5">
                        <div class="text font-bold">Гросуль Юрий</div>
                        <div>Ведущий менеджер отдела продаж</div>
                        <a class="font-bold text" href="tel:8 (495) 189-71-28">8 (495) 189-71-28</a>
                        <a class="link-blue" href="mailto:office@ooodirs.ru">office@ooodirs.ru</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>