<div id="popup-call" class="popup__wrapper" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h3 font-bold spacing-5">Обратный звонок</div>
        </div>

        <div class="text lh14 spacing-2">Оставьте заявку мы рассчитаем стоимость установки и&nbsp;договоримся о выезде мастера</div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Ваш телефон</span>
                <input type="tel" class="form-field__input js-tel" placeholder="+7 963 458-78-21">
            </label>
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-primary flex-grow-1 px-2" type="submit">Оставить заявку</button>
                <span class="color-grayText2 text5">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-grayText2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>

<div id="popup-review" class="popup__wrapper" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h3 font-bold spacing-5">Оставить отзыв о товаре</div>
        </div>

        <div class="text lh14 spacing-2">Вышка тура ВСР-1, рабочая высота 5.9 м, площадка 0.7x1.6 м</div>
        
        <form class="popup-review-form d-flex flex-column w-100 gap-15 gap-xs-10">
            <div class="d-flex flex-wrap row-gap-20 gap-lg-40 spacing-4 w-100">
                <div class="form-field form-field-no-border pl-0">
                    <span class="form-field__label">Общая оценка</span>
                    <span class="form-field__rating">
                        <input type="radio" name="popup-review-rating-1" id="popup-review-star1-5" value="5">
                        <label for="popup-review-star1-5">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-1" id="popup-review-star1-4" value="4">
                        <label for="popup-review-star1-4">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-1" id="popup-review-star1-3" value="3">
                        <label for="popup-review-star1-3">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-1" id="popup-review-star1-2" value="2">
                        <label for="popup-review-star1-2">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-1" id="popup-review-star1-1" value="1">
                        <label for="popup-review-star1-1">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>
                    </span>

                </div>
                <div class="form-field form-field-no-border">
                    <span class="form-field__label">Цена</span>
                    <span class="form-field__rating">
                        <input type="radio" name="popup-review-rating-2" id="popup-review-star2-5" value="5">
                        <label for="popup-review-star2-5">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-2" id="popup-review-star2-4" value="4">
                        <label for="popup-review-star2-4">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-2" id="popup-review-star2-3" value="3">
                        <label for="popup-review-star2-3">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-2" id="popup-review-star2-2" value="2">
                        <label for="popup-review-star2-2">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-2" id="popup-review-star2-1" value="1">
                        <label for="popup-review-star2-1">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>
                    </span>

                </div>
                <div class="form-field form-field-no-border">
                    <span class="form-field__label">Качество</span>
                    <span class="form-field__rating">
                        <input type="radio" name="popup-review-rating-3" id="popup-review-star3-5" value="5">
                        <label for="popup-review-star3-5">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-3" id="popup-review-star3-4" value="4">
                        <label for="popup-review-star3-4">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-3" id="popup-review-star3-3" value="3">
                        <label for="popup-review-star3-3">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-3" id="popup-review-star3-2" value="2">
                        <label for="popup-review-star3-2">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>

                        <input type="radio" name="popup-review-rating-3" id="popup-review-star3-1" value="1">
                        <label for="popup-review-star3-1">
                            <svg width="20" height="20">
                                <use xlink:href="#star"></use>
                            </svg>
                        </label>
                    </span>

                </div>
            </div>

            <label class="form-field form-field-textarea form-field--bg form-field-no-border w-100">
                <span class="form-field__label">Достоинства</span>
                <textarea rows="4" placeholder="Текст комментария"></textarea>
            </label>

            <label class="form-field form-field-textarea form-field--bg form-field-no-border w-100">
                <span class="form-field__label">Недостатки</span>
                <textarea rows="4" placeholder="Текст комментария"></textarea>
            </label>

            <label class="form-field form-field-textarea form-field--bg form-field-no-border w-100">
                <span class="form-field__label">Комментарий</span>
                <textarea rows="4" placeholder="Текст комментария"></textarea>
            </label>

            <label class="link-blue link-blue-icon ease d-flex align-items-center gap-10 curp my-2">
                <input class="file-input js-file-input js-file-review-popup" type="file">
                <span class="file-list font-medium">Прикрепить фото</span>
                <svg width="24" height="24">
                    <use xlink:href="#pin"></use>
                </svg>
            </label>

            <div class="d-flex flex-column flex-md-row align-items-md-center gap-10 row-gap-10 w-100 spacing-3">
                <label class="form-field form-field--bg flex-md-grow-1">
                    <span class="form-field__label">Ваше имя <span class="color-red">*</span></span>
                    <input type="text" required class="form-field__input w-100" placeholder="Семён">
                </label>
                <label class="form-field form-field--bg flex-md-grow-1">
                    <span class="form-field__label">Телефон <span class="color-red">*</span></span>
                    <input type="tel" required class="form-field__input w-100 js-tel" placeholder="+7 911 608-74-12">
                </label>
            </div>


            <label class="switcher spacing-3">
                <input type="checkbox">
                <span class="switcher__in"></span>
                <span class="switcher__text">Рекомендую к покупке</span>
            </label>

            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-primary px-2" type="submit">Опубликовать</button>
                <span class="color-grayText2 text5">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-grayText2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>

<div id="popup-click" class="popup__wrapper popup__wrapper--xl" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h3 font-bold spacing-2">Купить в 1 клик</div>
        </div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">

            <div class="click-popup-item">
                <div class="d-flex flex-column align-items-start gap-10">
                    <div class="color-grayText2">
                        Артикул: 01001
                    </div>
                    <a href="#" class="text d-inline-block font-medium">Желоб водосточный (2000мм) D-100 (Zn)</a>
                </div>

                <div class="form-number form-number-bg">
                    <button class="form-number__button js-form-number-minus">
                        <svg width="24" height="24">
                            <use xlink:href="#minus"></use>
                        </svg>
                    </button>
                    <input class="form-number__input" type="number" value="1" min="1" max="15">
                    <button class="form-number__button js-form-number-plus">
                        <svg width="24" height="24">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </button>
                </div>
                <div class="cart-actions">
                    <div class="title-h4 font-bold">637 р</div>
                    <div class="tdlt color-grayText1">3 430 р</div>
                </div>
            </div>
            
            <div class="d-flex flex-column flex-md-row align-items-md-center gap-20 row-gap-10 spacing-3">
                <label class="form-field form-field--bg flex-md-grow-1">
                    <span class="form-field__label">Ваше имя <span class="color-red">*</span></span>
                    <input type="text" required class="form-field__input w-100" placeholder="Семён">
                </label>
                <label class="form-field form-field--bg flex-md-grow-1">
                    <span class="form-field__label">Телефон <span class="color-red">*</span></span>
                    <input type="tel" required class="form-field__input w-100 js-tel" placeholder="+7 911 608-74-12">
                </label>
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="checkbox__text">
                        <svg width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg>
                        <span>Покупка от юр. лица</span>
                    </span>
                </label>
            </div>


            <div class="d-flex align-items-sm-center flex-column flex-sm-row gap-20">
                <button class="button button-primary" type="submit">Оформить заказ</button>
                <span class="color-grayText2 text5">Заполняя форму вы соглашаетесь <br class="d-none d-sm-inline"> на <a href="#" class="link-grayText2 und">обработку персональных данных</a></span>
            </div>
        </form>
    </div>
</div>

<div id="popup-login" class="popup__wrapper popup__wrapper--xs" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h3 font-bold spacing-3">Войти на сайт</div>
        </div>

        <form class="d-flex flex-column w-100 gap-15 gap-xs-10">
            <label class="form-field form-field--bg">
                <span class="form-field__label">Электронная почта</span>
                <input type="email" class="form-field__input" placeholder="email@example.com">
            </label>
            <label class="form-field form-field--bg spacing-3">
                <span class="form-field__label">Пароль</span>
                <input type="password" class="form-field__input" placeholder="*****">
            </label>

            <button class="button button-primary w-100 px-2" type="submit">Войти</button>
            <button class="link link-blue w-100">Забыли пароль?</button>
        </form>
    </div>
</div>

<div id="popup-change-password-success" class="popup__wrapper popup__wrapper--lg" style="display: none">
    <div class="popup__in leaf-big bg-white d-flex flex-column align-items-center gap-20">

        <div class="change-password-success__icon">
            <svg width="50" height="50">
                <use xlink:href="#check"></use>
            </svg>
        </div>
        <div class="title-h3 font-bold">Пароль успешно изменён</div>

    </div>
</div>

<div id="popup-face" class="popup__wrapper popup__wrapper--xl bg-gray" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-bold spacing-2">Фасад №1</div>
        </div>
        <form class="w-100">
            <div class="font-medium spacing-4">Выберите тип лесов</div>
            <div class="row row-gap-20 row-gap-xs-10 spacing-3">
                <div class="col-md-5 col-6">
                    <label class="checkbox-html">
                        <input type="radio" name="flooring" checked>
                        <span class="checkbox-html__in d-flex flex-column flex-md-row align-items-center gap-10 gap-xs-5">
                            <img class="img-responsive framing-type-checkbox__picture" src="{{root}}assets/img/flooring-1.jpg" alt="Деревянный">

                            <span class="d-flex flex-column gap-5">
                                <span>Деревянный</span>
                                <span class="text-4 color-grayText2">1,23 х 0,45 (25 мм)</span>
                            </span>
                        </span>
                    </label>
                </div>
                <div class="col-md-5 col-6">
                    <label class="checkbox-html">
                        <input type="radio" name="flooring">
                        <span class="checkbox-html__in d-flex flex-column flex-md-row align-items-center gap-10 gap-xs-5">
                            <img class="img-responsive framing-type-checkbox__picture" src="{{root}}assets/img/flooring-2.jpg" alt="Металлический">

                            <span class="d-flex flex-column gap-5">
                                <span>Металлический</span>
                                <span class="text-4 color-grayText2">1,23 х 0,45 (25 мм)</span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="d-flex flex-wrap row-gap-20 gap-20 gap-lg-40 row-gap-xs-10 spacing-3">
                <div class="calc-number-item">
                    <div class="spacing-5 font-medium">Ярусов ограждений</div>
                    <div class="form-number">
                        <button class="form-number__button js-form-number-minus">
                            <svg width="24" height="24">
                                <use xlink:href="#minus"></use>
                            </svg>
                        </button>
                        <input class="form-number__input" type="number" value="10" min="1" max="150">
                        <button class="form-number__button js-form-number-plus">
                            <svg width="24" height="24">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="calc-number-item">
                    <div class="spacing-5 font-medium">Отбортовочный элемент</div>
                    <div class="form-number">
                        <button class="form-number__button js-form-number-minus">
                            <svg width="24" height="24">
                                <use xlink:href="#minus"></use>
                            </svg>
                        </button>
                        <input class="form-number__input" type="number" value="10" min="1" max="150">
                        <button class="form-number__button js-form-number-plus">
                            <svg width="24" height="24">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="calc-number-item">
                    <div class="spacing-5 font-medium">Консоли</div>
                    <div class="form-number">
                        <button class="form-number__button js-form-number-minus">
                            <svg width="24" height="24">
                                <use xlink:href="#minus"></use>
                            </svg>
                        </button>
                        <input class="form-number__input" type="number" value="10" min="1" max="150">
                        <button class="form-number__button js-form-number-plus">
                            <svg width="24" height="24">
                                <use xlink:href="#plus"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row row-gap-20 spacing-2">
                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Длина ячейки</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="cell-length" checked>
                            <span class="calc-form-group__item-text">1 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="cell-length">
                            <span class="calc-form-group__item-text">2 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="cell-length">
                            <span class="calc-form-group__item-text">3 м</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Длина стойки</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="length" checked>
                            <span class="calc-form-group__item-text">3 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="length">
                            <span class="calc-form-group__item-text">4 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="length">
                            <span class="calc-form-group__item-text">5 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="length">
                            <span class="calc-form-group__item-text">6 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="length">
                            <span class="calc-form-group__item-text">7 м</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Домкрат/подпятник</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="axle" checked>
                            <span class="calc-form-group__item-text">Домкрат</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="axle">
                            <span class="calc-form-group__item-text">Подпятник</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Кронштейн / стеновая опора</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="carrier" checked>
                            <span class="calc-form-group__item-text">Кронштейн</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="carrier">
                            <span class="calc-form-group__item-text">Стеновая опора</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Планка под кронштейн</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="ledge-axle" checked>
                            <span class="calc-form-group__item-text">Нет</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="ledge-axle">
                            <span class="calc-form-group__item-text">1 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="ledge-axle">
                            <span class="calc-form-group__item-text">2 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="ledge-axle">
                            <span class="calc-form-group__item-text">3 м</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Стабилизационная опора</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="bent" checked>
                            <span class="calc-form-group__item-text">Нет</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="bent">
                            <span class="calc-form-group__item-text">1 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="bent">
                            <span class="calc-form-group__item-text">2 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="bent">
                            <span class="calc-form-group__item-text">3 м</span>
                        </label>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="font-medium spacing-4">Шаг фланца</div>
                    <div class="calc-form-group">
                        <label class="calc-form-group__item">
                            <input type="radio" name="step" checked>
                            <span class="calc-form-group__item-text">3 м</span>
                        </label>
                        <label class="calc-form-group__item">
                            <input type="radio" name="step">
                            <span class="calc-form-group__item-text">4 м</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-6 align-self-sm-end">
                    <label class="switcher mb-sm-3">
                        <input type="checkbox">
                        <span class="switcher__in"></span>
                        <span class="switcher__text">Стартовый элемент</span>
                    </label>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row gap-30 row-gap-10">
                <button type="submit" class="w-xs-100 button button-primary">Сохранить</button>

                <button class="w-xs-100 link-grayText1 font-medium">Удалить фасад</button>
            </div>


        </form>
    </div>
</div>


<div id="popup-search" class="popup__wrapper popup__wrapper--search" style="display: none">
    <div class="popup__in">
        <div class="popup-title__wrapper">
            <div class="title-h4 font-bold spacing-3">Введите поисковой запрос</div>

            <form class="popup-search-form">
                <label class="form-field form-field--bg form-field--search">
                    <svg class="form-field--search__icon" width="20" height="20">
                        <use xlink:href="#search"></use>
                    </svg>
                    <input class="form-field--search__input" type="text" placeholder="Поиск по сайту">
                </label>

                {{> search-dropdown }}
            </form>

        </div>
    </div>
</div>