<div class="question-list">
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Как происходит обмен товара?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Как и в какие сроки вернем деньги если товар стоил дешевле предыдущего?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Как оставить отзыв о купленном товаре</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Можно ли отказаться от товара в момент доставки?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Какие документы качества мы предоставляем ?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
    <div class="question-item">
        <div class="question-item__top js-question-toggle">
            <span class="text font-medium">Как оставить претензию?</span>
            <svg width="24" height="24">
                <use xlink:href="#chevron-bottom"></use>
            </svg>
        </div>
        <div class="question-item__info lh14">
            Мы осуществляем постоянный контроль качества на всех этапах производства Мы осуществляем постоянный контроль качества на всех этапах производства
        </div>
    </div>
</div>