<section class="section--inner">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="font-bold title-h3 spacing-3">Вопрос-ответ</div>
                <div class="color-grayText3 lh14">Мы собрали самые частые вопросы от наших клиентов. Если вы не нашли ответа, свяжитесь с&nbsp;нами</div>
                <button class="d-none d-md-inline-block button mt-4 button-primary button--lg" data-src="#popup-call" data-fancybox>Перезвоните мне</button>
            </div>
            <div class="col-lg-8">

                {{> question-list }}

            </div>
        </div>
    </div>
</section>