<div class="form-field form-field--range w-100">
    <span class="js-range-slider mdc-slider mdc-slider--range">
        <input class="mdc-slider__input js-range-slider__input-from" type="range" min="0" max="30000" value="0" step="5" name="rangeStart" aria-label="range slider">
        <input class="mdc-slider__input js-range-slider__input-to" type="range" min="0" max="30000" value="10450" step="5" name="rangeEnd" aria-label="range slider">
        <span class="mdc-slider__track">
            <span class="mdc-slider__track--inactive"></span>
            <span class="mdc-slider__track--active">
                <span class="mdc-slider__track--active_fill"></span>
            </span>
        </span>
        <span class="mdc-slider__thumb">
            <span class="mdc-slider__thumb-knob"></span>
        </span>
        <span class="mdc-slider__thumb">
            <span class="mdc-slider__thumb-knob"></span>
        </span>
    </span>
    <div class="form-field--range__grid">
        <input class="js-range-input js-range-input-from" min="0" max="30000" type="number" value="0">
        <input class="js-range-input js-range-input-to" min="0" max="30000" type="number" value="10450">
    </div>
</div>