<section class="section--inner ovh">
    <div class="container">
        <div class="title-h3 font-bold spacing-1">Также мы продаем и сдаем в аренду оборудование</div>

        <div class="row row-gap-20">
            <div class="col-md-6">
                <div class="leaf minioffer">
                    <div class="title-h5 font-medium">Более 13 235 <br class="d-none d-lg-inline"> позиций в каталоге</div>
                    <a href="#" class="button button-outlined button--md w-xs-100">Перейти в каталог</a>

                    <img class="minioffer-picture" src="{{root}}assets/img/minioffer-img.jpg" alt="Более 13 235 позиций в каталоге">
                </div>
            </div>
            <div class="col-md-6">
                <div class="leaf minioffer">
                    <div class="title-h5 font-medium">Оборудование <br class="d-none d-lg-inline"> в аренду от 1 дня</div>
                    <a href="#" class="button button-outlined button--md w-xs-100">Смотреть аренду</a>

                    <svg class="minioffer-icon">
                        <use xlink:href="#hist"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>