<div class="search-dropdown">
    <div class="container">
        <div class="search-dropdown__in">
            <div class="row spacing-3">
                <div class="col-lg-6 mb-3 mb-lg-0">
                    <div class="search-dropdown__list">
                        <a href="#">Желоб <strong>водосточный</strong></a>
                        <a href="#">Воронка желоба</a>
                        <a href="#">Угол желоба</a>
                        <a href="#">Канадка <strong>водосточная</strong></a>
                        <a href="#"><strong>Водосточная</strong> система кровли</a>
                        <a href="#"><strong>Водосточная</strong> система кровли из оцинкованной стали</a>
                        <a href="#">Колено трубы</a>
                        <a href="#">Труба <strong>водосточная</strong></a>
                        <a href="#">Крепление трубы</a>
                        <a href="#">Заглушка желоба</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="search-dropdown__list">
                        <div class="search-dropdown__item">
                            <img src="{{root}}assets/img/search-dropdown-item-1.jpg" alt="Желоб водосточный (2000мм) D-100 (Zn)">
                            <div class="search-dropdown__item-info d-flex flex-column align-items-start gap-15 gap-xs-10">
                                <div class="d-flex align-items-center gap-15 gap-xs-5">
                                    <div class="font-bold title-h4">637 р</div>
                                    <div class="color-orange text">-12%</div>
                                    <div class="color-grayText1 tdlt text">3 430 р</div>
                                </div>
                                <a href="#">Желоб водосточный (2000мм) D-100 (Zn)</a>
                            </div>
                            <div class="search-dropdown__item-actions d-flex flex-column align-items-start gap-20 gap-xs-10">
                                <button class="button button-secondary button--sm button-icon">
                                    <svg width="24" height="24">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                    <span>В корзину</span>
                                </button>
                                <a href="#" class="link-blue">Подробнее</a>
                            </div>
                        </div>
                        <div class="search-dropdown__item">
                            <img src="{{root}}assets/img/search-dropdown-item-2.jpg" alt="Желоб водосточный (2000мм) D-100 (Zn)">
                            <div class="search-dropdown__item-info d-flex flex-column align-items-start gap-15 gap-xs-10">
                                <div class="d-flex align-items-center gap-15 gap-xs-5">
                                    <div class="font-bold title-h4">1 004 р</div>
                                    <div class="color-orange text">-12%</div>
                                    <div class="color-grayText1 tdlt text">3 430 р</div>
                                </div>
                                <a href="#">Желоб водосточный (2000мм) D-100 (Zn)</a>
                            </div>
                            <div class="search-dropdown__item-actions d-flex flex-column align-items-start gap-20 gap-xs-10">
                                <button class="button button-secondary button--sm button-icon">
                                    <svg width="24" height="24">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                    <span>В корзину</span>
                                </button>
                                <a href="#" class="link-blue">Подробнее</a>
                            </div>
                        </div>
                        <div class="search-dropdown__item">
                            <img src="{{root}}assets/img/search-dropdown-item-3.jpg" alt="Водосборная воронка D-220 (Zn)">
                            <div class="search-dropdown__item-info d-flex flex-column align-items-start gap-15 gap-xs-10">
                                <div class="d-flex align-items-center gap-15 gap-xs-5">
                                    <div class="font-bold title-h4">1 637 р</div>
                                    <div class="color-orange text">-12%</div>
                                    <div class="color-grayText1 tdlt text">3 430 р</div>
                                </div>
                                <a href="#">Водосборная воронка D-220 (Zn)</a>
                            </div>
                            <div class="search-dropdown__item-actions d-flex flex-column align-items-start gap-20 gap-xs-10">
                                <button class="button button-secondary button--sm button-icon">
                                    <svg width="24" height="24">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                    <span>В корзину</span>
                                </button>
                                <a href="#" class="link-blue">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="w-100 button button-outlined">Посмотреть все результаты</a>
        </div>
    </div>
</div>