<div class="header-search__base">
    <form class="header-search__wrapper js-toggle-search">
        <div class="header-search__in">
            <label class="form-field form-field--search">
                <svg class="form-field--search__icon" width="20" height="20">
                    <use xlink:href="#search"></use>
                </svg>
                <input class="form-field--search__input" type="text" placeholder="Поиск по сайту">
            </label>
            <button class="header-search__button js-close-search fill-svg-grayText1 fill-svg-hover-blue" type="reset">
                <svg width="24" height="24">
                    <use xlink:href="#cross"></use>
                </svg>
            </button>
        </div>
    </form>
</div>