<section class="section--inner">
    <div class="container">
        <div class="font-bold title-h3 spacing-3">SEO текст</div>
        <div class="seo-text spacing-3 text">
            <p>На нашем сайте можно купить, арендовать, узнать о распродаже б/у лесов, А ТАКЖЕ и продать нам б/у леса по выгодной для Вас цене.
            <br>
            Согласитесь, что прежде чем оплатить товар, всегда хочется ПОСМОТРЕТЬ вживую, за что будем платить!? Для этого наше расположение было запланировано так, чтобы Вам не нужно было далеко ехать для получения продукции. Склады с оборудованием находятся на одной территории с офисом компании в городе Подольске, а также в городе Дмитров.</p>
            <p>На складе всегда в наличии большое количество строительных лесов различных типов, вышек тура, лестниц и стремянок по доступной цене.
            <br>
            Также в каталоге продукции представлены ЭЛЕМЕНТЫ БЕЗОПАСНОСТИ КРОВЛИ высокого качества, с большим выбором всех цветов RAL.
            <br>
            Широкий ассортимент материалов включает в себя такую необходимую на любом объекте продукцию, как сетка фасадная, аварийное ограждение и многое другое. </p>
        </div>
        <button class="button button-secondary w-100 js-toggle-seo-text"><span>Показать весь</span> текст</button>
    </div>
</section>