<section class="section--inner">
    <div class="container">
        <div class="title-h3 font-bold spacing-1 d-none d-lg-block">Наши услуги</div>

        <div class="row row-gap-20">
            <div class="col-lg-4 col-6">
                <div class="service leaf">
                    <svg class="service__icon" width="40" height="40" fill="#0061FF">
                        <use xlink:href="#history"></use>
                    </svg>

                    <div class="service__title font-medium title-h4">Аренда</div>

                    <a class="service__link" href="#">Рамные леса</a>
                    <a class="service__link" href="#">Хомутовые леса</a>
                    <a class="service__link" href="#">Клиновые леса</a>
                    <a class="service__link" href="#">Штыревые леса</a>
                    <a class="service__link" href="#">Вышки тура</a>
                    <a class="service__link" href="#">Опалубка перекрытий</a>
                    <a class="service__link" href="#">Лестницы алюминиевые</a>
                </div>
            </div>
            <div class="col-lg-4 col-6">
                <div class="service leaf">
                    <svg class="service__icon" width="40" height="40" fill="#0061FF">
                        <use xlink:href="#repair"></use>
                    </svg>

                    <div class="service__title font-medium title-h4">Монтаж</div>

                    <a class="service__link" href="#">Рамные леса</a>
                    <a class="service__link" href="#">Хомутовые леса</a>
                    <a class="service__link" href="#">Клиновые леса</a>
                    <a class="service__link" href="#">Штыревые леса</a>
                    <a class="service__link" href="#">Элементы кровельной безопасности</a>
                    <a class="service__link" href="#">Фасадная и баннерная сетка</a>
                    <a class="service__link" href="#">Вышки тура</a>
                    <a class="service__link" href="#">Консоли</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service service--ppr leaf">
                    <svg class="service__icon" width="40" height="40" fill="#0061FF">
                        <use xlink:href="#copy"></use>
                    </svg>

                    <div class="service__title font-medium title-h4">Разработка ППР</div>

                    <div class="lh13">Разработка проектной и организационно-технологической документации в&nbsp;строительстве от&nbsp;2&nbsp;дней</div>

                    <a href="#" class="d-lg-none button button-icon button-primary">
                        <span>Подробнее</span>
                        <svg width="24" height="24">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>

                    <a href="#" class="d-none d-lg-inline-flex link link-icon link-blue link-blue-icon">
                        <span>Подробнее</span>
                        <svg width="24" height="24">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>