<section class="section--inner ovh">
    <div class="container">
        <div class="title-h3 font-bold spacing-1">Как сделать заказ?</div>

        <div class="row row-gap-20 row-gap-xs-10">
            <div class="col-md-3">
                <div class="step">
                    <div class="step-top">
                        <div class="step-icon">
                            <svg width="36" height="36">
                                <use xlink:href="#check"></use>
                            </svg>
                        </div>
                        <span></span>
                    </div>
                    <div class="text lh12"><span class="font-bold">Получаем</span> вашу заявку <br class="d-none d-md-inline"> с сайта или по телефону</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step">
                    <div class="step-top">
                        <div class="step-icon">
                            <svg width="36" height="36">
                                <use xlink:href="#credit-card"></use>
                            </svg>
                        </div>
                        <span></span>
                    </div>
                    <div class="text lh12"><span class="font-bold">Выставляем</span> счёт на оплату <br class="d-none d-md-inline"> вашего заказа</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step">
                    <div class="step-top">
                        <div class="step-icon">
                            <svg width="36" height="36">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </div>
                        <span></span>
                    </div>
                    <div class="text lh12"><span class="font-bold">Изготавливаем</span> <br class="d-none d-md-inline"> или комплектуем заказ</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="step">
                    <div class="step-top">
                        <div class="step-icon">
                            <svg width="36" height="36">
                                <use xlink:href="#car"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="text lh12"><span class="font-bold">Отправляем</span> ваш заказ через<br class="d-none d-md-inline"> транспортную компанию</div>
                </div>
            </div>

        </div>
    </div>
</section>