<div class="slider-wrapper">
    <div class="slider js-video-reviews-slider">
        <div class="swiper-wrapper row">
            <div class="swiper-slide col-sm-6 col-lg-6">
                <div class="video-review leaf" data-fancybox data-src="https://www.youtube.com/watch?v=Ibifig1RC9E" style="background-image: url('{{root}}assets/img/video-review-1.jpg')">
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <svg width="46" height="53">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <div class="video-review__info">
                        <div class="font-bold spacing-4">Александр Александрович</div>
                        <div class="text3">
                            <span class="d-inline-block mr-2 mr-lg-3">31.05.2022</span>
                            <span>г. Санкт-Петербург</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide col-sm-6 col-lg-6">
                <div class="video-review leaf" data-fancybox data-src="https://www.youtube.com/watch?v=Ibifig1RC9E" style="background-image: url('{{root}}assets/img/video-review-2.jpg')">
                    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                        <svg width="46" height="53">
                            <use xlink:href="#play"></use>
                        </svg>
                    </div>
                    <div class="video-review__info">
                        <div class="font-bold spacing-4">Александр Александрович</div>
                        <div class="text3">
                            <span class="d-inline-block mr-2 mr-lg-3">31.05.2022</span>
                            <span>г. Санкт-Петербург</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination__wrapper">
            <div class="swiper-pagination js-video-reviews-slider-pagination"></div>
        </div>
    </div>
</div>